html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  color: #f47521;
  background: #000;
  font-weight: 400;
  min-height: 100%;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
}

.navbar {
  background-color: #23252b;
  height: 60px;
  font-size: larger;
}

.navbar-name {
  color: #f47521;
  font-weight: bold;
  margin-right: 20px;
}

.navbar-link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

/* .App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
} */

/* @keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
} */

.card-img {
  max-height: 250px; /* Defina a altura desejada */
}

#login-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f47521;
  background-color: #23252b;
}

.input-login-box {
  background-color: #23252b;
  padding: 10px;
  border-radius: 10px;
}

.btn-outline-custom {
  color: #f47521;
  font-weight: 700;
  width: 150px;
  padding: 8px;
  background-color: rgb(252, 252, 252);
  border-color: #f47521;
  margin-bottom: 30px;
  border-radius: 5px;
}

.btn-outline-custom:hover {
  color: black;
  background-color: #f47521;
  border-color: black;
  transition-duration: 0.5s;
}

.pagenavi {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pn-btn {
  margin: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #f47521;
  color: white;
  font-weight: 600;
  min-width: 30px;
  text-decoration: none;
  padding: 3px;
}

.selected {
  background-color: #23252b;
}

.title {
  color: white;
  font-weight: 700;
}
